.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero img {
  width: 100%;
  height: auto;
}

.hero .hero-contents {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}
.hero-contents .hero-text {
  text-align: center;
}
.hero .hero-contents .hero-text h1 {
  /* font-size: 46px / h1; */
  font-size: 2.3rem;
  font-weight: 800;
  color: var(--primary);
}

.hero-text h3 {
  /* font-size: 22px h3; */
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary);
  margin: 40px 0px;
}
.hero .hero-contents .hero-text a,
.see-services a {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 8px;
  cursor: pointer;
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.hero .hero-contents .hero-text a:hover,
.see-services a:hover {
  transform: scale(1.05);
  background-color: var(--primaryDark);
}
.homepage-cards {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: var(--background);
  margin: 80px 0px;
}
.homepage-cards h1 {
  font-size: 1.4rem;
  font-weight: 700;
}
.homepage-cards .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.homepage-cards .cards .card {
  flex: 1 1 280px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--primary);
  padding: 15px;
}
.homepage-cards .cards .card-img img {
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.cards .card .card-text {
  margin: 10px 0;
}

.cards .card .card-text h3 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}
.cards .card .card-text p {
  font-size: 16px;
  color: #ffffff;
}
.trust {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: var(--background);
}
.trust h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
.trust .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px 30px 0px;
}
.trust .cards .card {
  flex: 1 1 340px;
  max-width: 350px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.trust .cards .card h3 {
  font-size: 0.8rem;
  font-weight: 700;
}
.see-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  transition: all 0.5s ease;
}
.see-services iframe {
  border-radius: 10px;
}
.faq {
  padding: 60px 20px;
  background-color: var(--background);
}
.faq-title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 40px;
  color: var(--primary);
}
.faq-question {
  max-width: 800px;
  margin: auto;
}
details {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transition: 0.3s;
}
details:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
summary {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: var(--textPrimary);
  position: relative;
}
details p {
  margin-top: 10px;
  color: var(--textSecondary);
  line-height: 1.6;
}

@media (min-width: 481px) {
  .hero .hero-contents .hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  .homepage-cards h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .trust h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  .trust .cards .card h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .hero .hero-contents .hero-text h1 {
    font-size: 3.8rem;
    font-weight: 800;
  }
  .hero-text h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  .homepage-cards h1 {
    font-size: 2.3rem;
    font-weight: 700;
  }
  .trust h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .trust .cards .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .hero .hero-contents .hero-text h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  .hero-text h3 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .homepage-cards h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .trust h1 {
    font-size: 2.8rem;
    font-weight: 800;
  }
  .trust .cards .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px;
  }
  .hero .hero-contents {
    width: 90%;
    margin-top: 10px;
  }
  .hero-contents .hero-text {
    text-align: start;
    margin-right: 4rem;
    margin-top: 40px;
  }
  .hero .hero-contents .hero-text button {
    padding: 16px 25px;
    font-size: 1.5rem;
  }
  .hero .hero-contents .hero-text h1 {
    font-size: 2.9rem;
    font-weight: 800;
  }
  .hero-text h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  .homepage-cards h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .trust h1 {
    font-size: 2.7rem;
    font-weight: 800;
  }
  .trust .cards .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .trust .card .card-icon #icon {
    font-size: 3rem;
    margin-left: 5px;
  }
  .homepage-cards .cards .card {
    flex: 1 1 280px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--primary);
    padding: 15px;
  }
  .cards .card .card-text h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .cards .card .card-text p {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .homepage-cards .cards .card-img img {
    width: 100%;
    height: 200px;
    /* border-radius: 50%; */
  }
}
