* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  text-align: right;
  font-family: "Amiri", serif;
}
:root {
  --primary: #2563eb;
  --primaryDark: #1e40af;
  --background: #f8fafc;
  --card: #ffffff;
  --border: #e5e7eb;
  --textPrimary: #111827;
  --textSecondary: #6b7280;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
}
/* 
h1: 36
h2: 28
h3: 22
body: 16
samll: 14
*/
header {
  display: flex;
  background-color: var(--background);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
header .logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
header .logo img {
  width: 80px;
  border-radius: 50%;
  margin: 0px 10px;
}

nav {
  display: flex;
  /* margin-left: 30px; */
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 30px;
}
nav ul li a {
  text-decoration: none;
  color: var(--textPrimary);
  font-size: 16px;
  font-weight: bold;
  /* padding: 12px 16px;
  border-radius: 5px;
  border: none;
  background-color: inherit; */
}
nav ul li:hover {
  transform: scale(1.05);
  /* box-shadow: 0 10px 25px rgb(197, 195, 195);
  background-color: inherit; */
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--textPrimary);
  font-size: 16px;
  font-weight: bold;
  background-color: inherit;
}
.dropdown:hover .dropbtn {
  transform: scale(1.05);
  /* box-shadow: 0 5px 15px rgb(197, 195, 195); */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 140px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: var(--textPrimary);
  padding: 12px 16px;
  display: block;
  text-align: right;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
header .buttons {
  margin-left: 40px;
}
header .buttons button {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  color: var(--textPrimary);
  cursor: pointer;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
header .buttons #start {
  background-color: var(--primary);
  color: #ffff;
}
header .buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgb(197, 195, 195);
}
header .buttons button:active {
  transform: scale(0.95);
}
.hero {
  width: 100%;
  position: relative;
  height: calc(100vh - 95px);
  background-image: url("./assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero-title {
  width: 40%;
  position: absolute;
  right: 8%;
  top: 20%;
}
.hero-title h1 {
  font-size: 46px;
  font-weight: bold;
  color: #ffffff;
}
.hero-title h3 {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px;
}
.hero-buttons {
  position: absolute;
  right: 8%;
  bottom: 8%;
}
.hero-buttons button {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--textPrimary);
  margin: 8px;
  cursor: pointer;
}
.hero-buttons #w-btn {
  background-color: var(--background);
  color: var(--textPrimary);
  font-weight: 700;
  font-size: 16px;
}
.hero-buttons #b-btn {
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
/* .hero .hero-buttons #b-btn:hover {
  transform: scale(1.05);
  background-color: var(--primaryDark);
} */
.homepage-cards {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: var(--background);
}
.homepage-cards .cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
  gap: 10px;
}
.homepage-cards .cards .card {
  width: 25%;
  border-radius: 10px;
  /* position: relative; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--primaryDark);
  padding: 15px;
}

.homepage-cards .cards .card img {
  width: 65%;
  height: 200px;
  border-radius: 50%;
  /* position: absolute; */
  /* top: -10%; */
}
.homepage-cards .cards .card h3 {
  font-size: 22px;
  color: #ffffff;
}
.homepage-cards .cards .card p {
  font-size: 16px;
  color: #ffffff;
}
.trust {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: var(--background);
}
.trust .cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 40px 30px 0px;
}
.trust .cards .card {
  width: 27%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  gap: 5px;
}
.trust .cards .card h3 {
  font-size: 22px;
}

.faq {
  padding: 60px 20px;
  background-color: var(--background);
}
.faq-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--primaryDark);
}
.faq-question {
  max-width: 800px;
  margin: auto;
}
details {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transition: 0.3s;
}
details:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
summary {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: var(--textPrimary);
  position: relative;
}
details p {
  margin-top: 10px;
  color: var(--textSecondary);
  line-height: 1.6;
}
